@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

header .header-top {
  background-color: #0282f9;
}
header .header-top .container {
  display: flex;
  justify-content: right;
}
header .header-top .container a {
  color: white;
  display: inline-block;
  padding: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
}
header .header-bottom {
  background-color: white;
  padding: 0.625rem 0;
}
header .header-bottom .logo {
  width: 5rem;
}
header .header-bottom .logo img {
  width: 100%;
}
header .header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-bottom .header-bottom-nav ul {
  list-style: none;
}
header .header-bottom .header-bottom-nav ul li {
  display: inline-block;
}
header .header-bottom .header-bottom-nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #292929;
  padding: 1.25rem 0.625rem;
}
header .header-bottom-search input {
  border: 0;
  border-bottom: 2px solid #0282f9;
}
header .hero {
  height: 37.5rem;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}

main {
  background-color: #292929;
}
main .container {
  text-align: center;
  position: relative;
}
main .container .current-series {
  position: absolute;
  top: -1%;
  background-color: #0282f9;
  color: white;
  text-transform: uppercase;
  padding: 0.3125rem 1.25rem;
  font-size: 1.5625rem;
}
main .container .cards {
  padding: 1.875rem 0 0.9375rem 0;
  display: flex;
  flex-wrap: wrap;
}
main .container .cards .card {
  width: calc(16.6666666667% - 3.125rem);
  margin: 1.5625rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9375rem;
}
main .container .cards .card .card-img {
  width: 12.5rem;
  height: 12.5rem;
  overflow: hidden;
  margin-bottom: 1.25rem;
}
main .container .cards .card .card-img img {
  -o-object-fit: cover;
     object-fit: cover;
}
main .container button {
  background-color: #0282f9;
  border: 0;
  padding: 0.625rem 1.5625rem;
  color: white;
  margin-bottom: 1.25rem;
}
main .merchandise {
  background-color: #0282f9;
}
main .merchandise ul {
  list-style: none;
  display: flex;
  align-items: center;
}
main .merchandise ul li {
  width: 20%;
  padding: 1.25rem;
}
main .merchandise .link-merchandise {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
main .merchandise .link-merchandise img {
  width: 20%;
  margin: 1.25rem;
}

.footer-top {
  background-image: url("../images/footer-bg.jpg");
}
.footer-top .container {
  display: flex;
  color: white;
  padding: 2.5rem 0;
}
.footer-top .container .col {
  padding: 0 1.25rem;
}
.footer-top .container .col h2 {
  margin-bottom: 0.625rem;
}
.footer-top .container .col ul {
  list-style: none;
}
.footer-top .container .col ul li {
  font-size: 0.8125rem;
  color: gray;
}
.footer-top p.copyright {
  color: gray;
}
.footer-top .copyright-active {
  color: #0282f9;
}

.footer-bottom {
  background-color: #292929;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2.5rem 0;
}
.footer-bottom .container .social-CTA {
  display: flex;
  align-items: center;
}
.footer-bottom .container .social-CTA span {
  color: #0282f9;
}
.footer-bottom .container .signUp {
  background: transparent;
  border: 2px solid #0282f9;
  color: white;
  padding: 0.4375rem 1.25rem;
  font-size: 1.0625rem;
}

.icons-social ul {
  list-style: none;
  display: flex;
  padding: 0 1.25rem;
}
.icons-social ul li {
  padding: 0 0.625rem;
}