* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

header .header-top {
  background-color: #0282f9;
}
header .header-top .container {
  display: flex;
  justify-content: right;
}
header .header-top .container a {
  color: white;
  display: inline-block;
  padding: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
}
header .header-bottom {
  background-color: white;
  padding: 0.625rem 0;
}
header .header-bottom .logo {
  width: 5rem;
}
header .header-bottom .logo img {
  width: 100%;
}
header .header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-bottom .header-bottom-nav ul {
  list-style: none;
}
header .header-bottom .header-bottom-nav ul li {
  display: inline-block;
}
header .header-bottom .header-bottom-nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #292929;
  padding: 1.25rem 0.625rem;
}
header .header-bottom-search input {
  border: 0;
  border-bottom: 2px solid #0282f9;
}
header .hero {
  height: 37.5rem;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}

main {
  background-color: #292929;
}