main{
    background-color: $secondColor;
    .container{
        .cards{
            display: flex;
            flex-wrap: wrap;
            .card{
                width: calc(100% / 6);
                color: white;
                text-transform: uppercase;
                text-align: center;
                .card-img{
                    width: 12.5rem;;
                    height: 12.5rem;
                    overflow: hidden;
                    img{
                        object-fit: cover;
                    }
                }

                
            }
        }
    }
}